/* sm */
@media (max-width: 640px) {
    .chat-hero {
        position: relative;
        overflow: hidden;
    }

    .left-side {
        position: absolute;
        left: 0;
        width: 100%;
        transition: transform 0.3s ease;
        z-index: 2;
    }

    .chat-container {
        position: absolute;
        left: 100%;
        width: 100%;
        transition: transform 0.3s ease;
        z-index: 1;
    }

    .chat-hero.show-messages .left-side {
        transform: translateX(-100%);
    }

    .chat-hero.show-messages .chat-container {
        transform: translateX(-100%);
    }

    .back-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;
    }

    .back-button svg {
        fill: var(--clr-light);
    }
}
